---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
import curseForgeLogo from '../../../../curseforge.svg';
import modrinthLogo from '../../../../_modrinth.svg';
import Layout from '../../../../../../../layouts/Layout.astro';
import searchMaven from '../../../../../../../utils/search-maven';

export async function getStaticPaths() {
    const branches = ['release', 'snapshot'];
    const modEntries = await getCollection('mods');
    return modEntries.flatMap((entry) =>
        entry.data.gameVersions.flatMap((gameVersion: string) =>
            entry.data.loaders.flatMap((loader: string) =>
                branches.flatMap((branch) => {
                    const parts = entry.slug.split('/');
                    return {
                        params: { game: parts[0], mod: parts[1], gameVersion, branch, loader: loader.toLowerCase() },
                        props: { entry, gameVersion, loader, branch },
                    };
                })
            )
        )
    );
}

const { entry, gameVersion, loader, branch } = Astro.props;
const repository = branch === 'snapshot' ? 'maven-snapshots' : 'maven-releases';
const modId = entry.data.modId;
const versions = await searchMaven(repository, 'net.blay09.mods', modId + '-' + loader.toLowerCase());
const jars = versions.map((version) => {
    const jarAsset = version.assets.find(
        (asset) => asset.contentType == 'application/java-archive' && asset.maven2.extension === 'jar' && !asset.maven2.classifier
    );
    return {
        version: version.version,
        downloadUrl: jarAsset?.downloadUrl.replace('maven-snapshots', 'maven-public').replace('maven-releases', 'maven-public') ?? '',
        fileSize: jarAsset?.fileSize ?? 0,
        lastModified: jarAsset?.lastModified,
    };
});
const filteredJars = jars.filter((jar) => jar?.version.endsWith('+' + gameVersion));
const title = 'Download ' + entry.data.title + ' for Minecraft ' + gameVersion + ' (' + loader + ')';

const humanizeFileSize = (bytes: number) => {
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes === 0) return '0 Byte';
    const i = Math.floor(Math.log(bytes) / Math.log(1024));
    return parseFloat((bytes / Math.pow(1024, i)).toFixed(2)) + ' ' + sizes[i];
};

const humanizeTimestamp = (timestamp?: string) => {
    if (!timestamp) {
        return 'Unknown';
    }

    const date = new Date(timestamp);
    return date.toLocaleString();
};

const humanizeVersion = (version?: string) => {
    return version?.split('+')[0];
};

const curseForgeUrl = entry.data.curseForgeSlug ? `https://www.curseforge.com/minecraft/mc-mods/${entry.data.curseForgeSlug}` : null;
const modrinthUrl = entry.data.modrinthSlug ? `https://modrinth.com/mod/${entry.data.modrinthSlug}` : null;
---

<Layout title={title}>
    <h1 class="text-4xl text-center mb-4">{title}</h1>

    <table class="table mb-4">
        <thead>
            <tr>
                <th>Version</th>
                <th>Loader</th>
                <th>Game Version</th>
                <th>Released at</th>
                <th>File Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {
                filteredJars.map((jar) => (
                    <tr>
                        <td>{humanizeVersion(jar.version)}</td>
                        <td>{loader}</td>
                        <td>{gameVersion}</td>
                        <td>{humanizeTimestamp(jar.lastModified)}</td>
                        <td>{humanizeFileSize(jar.fileSize)}</td>
                        <td>
                            <a
                                href={'/download?v=' + encodeURIComponent(jar.downloadUrl)}
                                class="btn btn-square btn-sm btn-success"
                            >
                                <Icon name="mdi:download" class="w-6" />
                            </a>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>

    <div class="divider"></div>

    <p class="text-center text-lg opacity-80 mb-4">Looking for older versions?</p>

    <div class="flex justify-center items-center gap-4">
        {
            curseForgeUrl && (
                <a href={curseForgeUrl} class="btn btn-curseforge">
                    <Image src={curseForgeLogo} alt="" class="w-6" />
                    Downloads on CurseForge
                </a>
            )
        }
        {
            modrinthUrl && (
                <a href={modrinthUrl} class="btn btn-modrinth">
                    <Image src={modrinthLogo} alt="" class="w-6" />
                    Downloads on Modrinth
                </a>
            )
        }
    </div>

    <div class="divider"></div>

    <div class="mb-4 flex justify-center">
        <a href="/sponsor"><img src="https://mods.twelveiterations.com/img/sponsor.png" alt="Support the Development for only $2 a month." /></a>
    </div>
</Layout>
